.accessibility {
    text-align: center;
    font-weight: bold;
    height: 1.125rem;
    width: 10rem;
    position: absolute;
    top: 1.125rem;
    left: 50%;
    background-color: $secondary;
    text-decoration: none;
    color: $tertiary;
    visibility: hidden;
}
.navigation {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    &_tagg {
        width: 100%; 
        height: 3.125rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;     
    }
    
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        grid-template-columns: auto;  

        &_accessible {
            display: none;
        }
            
        &_tagg {
            flex-wrap: wrap;
            justify-content: center;
            margin: 1rem 1.125rem;
        }
    }
}

.tagg_link > a {
    border-radius:0.7rem;
    border: 0.03rem solid $border-tagg_off;
    padding: 0.4rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: $primary;
    text-decoration: none;
    &:hover, &:focus {
        color: $font-link-hover;
        background-color: $primary;
    }
}