.btn-contact {
    background-color: $primary;
    padding: 1.1rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    color: $font-link-hover;
    border-radius: 0.3rem;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    &:hover, &:focus {
        background-color: $secondary;
        border: none;
        outline: none;
        color: $font-button-hover;
    }    
    
    @media screen and (min-width: map-get($breakpoints, desktop )) {
        position: absolute;
        top: 0;
        left: 40rem;
    } 
    @media screen and (max-width: map-get($breakpoints, mobile )) {
       position: fixed;
       bottom:1.5rem;
       left: 1rem;
       font-size: 1rem;
       padding: 0.5rem;
       height: 3rem;
       width: 92%;
       background-color: $secondary;
    } 
}

.btn-submit {
    background-color: $primary;
    margin-top: 1.5rem;
    padding: 1.1rem 2.2rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    color: $font-link-hover;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: $secondary;
        border: 0.3rem solid $primary;
        outline: none;
        color: $font-button-hover;        
        padding: 0.8rem 1.9rem;
    }
        
    @media screen and (max-width: map-get($breakpoints, mobile )) {  
       width: 60%;
       padding: 1rem 2rem;
       margin: 3rem 0 3rem 4rem;
    }
}