main {
    overflow: hidden;
}
.b-idPhotographer {
    position: relative;
    margin: 3.5rem 1.125rem 2.9rem 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.625rem;
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.idDetails {
    &_city {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
        margin: 0.8rem 0 0 3rem;
    }
    &_slogan {
        color: $font-photographer-slogan;
        font-size: 1.125rem;
        font-weight: 400;
        font-style: normal;
        margin: 1.5rem 0 0 3rem;
    }
    &_tagg {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;        
        flex-wrap: wrap;
        margin: 2rem 0 0 3rem;
    }
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        width: 80%;
        &_city, &_slogan,&_tagg{
            font-size: 0.9rem;
            margin: 0.3rem 0;
        }
        &_slogan {            
            margin-bottom: 0.8rem;
        }
        &_tagg {            
            margin-bottom: 0.8rem;
        }
    }
}

.idDetails_tagg_link {
    cursor: pointer;
    & > a {
        border-radius:0.7rem;
        border: 0.03rem solid $border-tagg_off;
        padding: 0.4rem;
        font-size: 1.125rem;
        font-weight: 500;
        font-style: normal;
        color: $primary;
        text-decoration: none;
        margin: 0 0.3rem 0 0;
        &:hover, &:focus {
            color: $font-link-hover;
            background-color: $primary;
        }         
    } 
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        & > a {
            font-size: 0.9rem;
            padding: 0.2rem;
        } 
    } 
}



.idPicture {
    padding-top: 0.7rem;   
    
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        position: absolute;
        top: -2.5rem;
        right: 0;
    } 
}

.b-filter {
    margin: 4.5rem 1.25rem;
    position: relative;
    & > p {
        font-size: 1.125rem;
        font-weight: 700;
        font-style: normal;
    }
    
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        display: none;
    } 
}

.b-works {
    margin-top: 4rem;
}
.mediasList {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-bottom: 2rem;
    width: 100%;

    @media screen and (max-width: map-get($breakpoints, mobile )) {
        grid-template-columns: 1fr;
    } 
}

.medias-card {         
    width: 21.875rem;
    margin: 0 1.125rem 2rem 1.125rem;            
    cursor: pointer;
    @media screen and (max-width: map-get($breakpoints, mobile )) {        
        width: 90%;
    } 
}

.vignette {
    text-decoration: none;
    width: 21.875rem;
    height: 18.75rem;
    object-fit: cover;
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        height: 11.875rem;
        width: 100%;
    } 
}

.b-pictureInfo {
    display: grid;
    grid-template-columns: 2.2fr 0.6fr auto;
    padding: 0.5rem 0;
}

.mediaText {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: $primary;       
}

.mediaPrice, .mediaLikes, .mediaHeart {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    color: $primary;
}


.fa-heart {
    padding-left: 0.5rem;
    &:active {
        transform: scale(0.5);
        color: $secondary;
        transition: all 350ms ease-in-out ;
    }
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        &:hover {
            transform: scale(0.5);
            color: $secondary;
            transition: all 350ms;
        }
    } 
}

.liked{
    color: $secondary;
}

.b-likes-price {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    width: 23rem;
    padding: 1rem;
    justify-content: space-around;
    background-color: $secondary;
    &_content {
        color: $font-button-hover;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: normal;
    }
    
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        display: none;
    }
}

@media screen and (max-width: map-get($breakpoints, mobile )) {
    .mediaText, .mediaLikes {
        font-size: 0.9rem;
    }
    .mediaPrice {
        font-size: 0.75rem;
        text-align: right;
        padding: 0.2rem 1rem;
    }

} 
