
/* Colors */
$primary : #901C1C;
$secondary : #D3573C;
$tertiary: #FFFFFF;

$font-link-hover : #FFFFFF;
$font-button-hover: #000000;
$font-photographer-price : #757575;
$font-photographer-slogan : #252525;

$border-tagg_off : #C4C4C4;